@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Source+Sans+Pro:wght@300;400;600&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans',
    sans-serif;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  height: 100vh;
  margin-left: 15%;
}

.lists {
  display: flex;
  justify-content: space-evenly;
  padding-top: 40px;
}

.listItem, .formsList, .clientDisplay {
  display: flex;
  justify-content: space-around;
}

.listItem {
  display: table-row;
}

.listItem div {
  display: table-cell;
  margin-left: 5%;
  padding-left: 5%;
  width: 40%;
  text-align: left;
}

.formTable {
  display: table;
}

.formTable p {
  display: table-row;
}

.formTable input, .formTable select {
  margin-left: 10px;
  display: table-cell;
}

.formTable label {
  display: table-cell;
}

.formsList {
  margin-top: 15px;
}

.hidden {
  display: none;
}
