body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main {
  height: 100vh;
  margin-left: 15%;
}

.lists {
  display: flex;
  justify-content: space-evenly;
  padding-top: 40px;
}

.listItem, .formsList, .clientDisplay {
  display: flex;
  justify-content: space-around;
}

.formTable {
  display: table;
}

.formTable p {
  display: table-row;
}

.formTable input, .formTable select {
  margin-left: 10px;
  display: table-cell;
}

.formTable label {
  display: table-cell;
}

.formsList {
  margin-top: 15px;
}
